* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif
}

/* Header */

.bg-black-top {
    height: 40px;
    background-color: black ;
}

.header_button {
    min-height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.button {
    margin: 5px;
    padding: 5px 8px;
  
    border: none;
    border-radius: 5px;
  
    background-color: #4a4a4a;
    color: white;
  }

.container {
    width: 1750px;
    margin-left: auto;
    margin-right: auto;}
  
main {
    height: calc(100vh - 120px);
    background-color: black;
    
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 240px;
    height: 140px;
    position: relative;
    background-image: url(https://picsum.photos/id/271/200/300);
    background-size: cover;
    background-position: bottom;
    margin-top: 20px;
}

.card-text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 3px;
    background-color: #4a4a4a;
    color: white;
    font-size: 13px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-grey {
    background-color: #363636;
    height: 80px;
}

.icons {
    margin-left: 9px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}


.fa-angle-up {
    margin-top: 50%;
    margin-left: 20px;
} 

.left {
    display: flex;
    text-align: center;
    align-items: center;
}

.text-end {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}